Main/Atlantis.Framework.AuthRetrieve/Atlantis.Framework.AuthRetrieve.Impl/Web References/RetrieveAuthSvc/RetrieveAuth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://authretrieval.sso.secureserver.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://authretrieval.sso.secureserver.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://authretrieval.sso.secureserver.net/">
      <s:element name="GetAuthData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sSPKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sArtifact" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrorXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthData" />
  </wsdl:message>
  <wsdl:message name="GetAuthDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RetrieveAuthSoap">
    <wsdl:operation name="GetAuthData">
      <wsdl:input message="tns:GetAuthDataSoapIn" />
      <wsdl:output message="tns:GetAuthDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RetrieveAuthSoap" type="tns:RetrieveAuthSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthData">
      <soap:operation soapAction="http://authretrieval.sso.secureserver.net/GetAuthData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RetrieveAuthSoap12" type="tns:RetrieveAuthSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthData">
      <soap12:operation soapAction="http://authretrieval.sso.secureserver.net/GetAuthData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetrieveAuth">
    <wsdl:port name="RetrieveAuthSoap" binding="tns:RetrieveAuthSoap">
      <soap:address location="https://commgtwyws.dev.glbt1.gdg/WSgdSSOGet/RetrieveAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="RetrieveAuthSoap12" binding="tns:RetrieveAuthSoap12">
      <soap12:address location="https://commgtwyws.dev.glbt1.gdg/WSgdSSOGet/RetrieveAuth.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>