Main/Atlantis.Framework.LogDomainSearchResults/Atlantis.Framework.LogDomainSearchResults.Impl/Web References/LogDomainSearchResultsWS/VisitDomainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://godaddy.com/fbiVisitDomainService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://godaddy.com/fbiVisitDomainService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://godaddy.com/fbiVisitDomainService">
      <s:element name="LogDomainSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="visitGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="searchDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="domainSearched" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isAvailable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogDomainSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogDomainSearchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogDomainSearchResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchResultsXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogDomainSearchResultsResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogDomainSearchSoapIn">
    <wsdl:part name="parameters" element="tns:LogDomainSearch" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchSoapOut">
    <wsdl:part name="parameters" element="tns:LogDomainSearchResponse" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsSoapIn">
    <wsdl:part name="parameters" element="tns:LogDomainSearchResults" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsSoapOut">
    <wsdl:part name="parameters" element="tns:LogDomainSearchResultsResponse" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchHttpGetIn">
    <wsdl:part name="visitGuid" type="s:string" />
    <wsdl:part name="pageCount" type="s:string" />
    <wsdl:part name="searchDate" type="s:string" />
    <wsdl:part name="domainSearched" type="s:string" />
    <wsdl:part name="isAvailable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsHttpGetIn">
    <wsdl:part name="searchResultsXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsHttpGetOut" />
  <wsdl:message name="LogDomainSearchHttpPostIn">
    <wsdl:part name="visitGuid" type="s:string" />
    <wsdl:part name="pageCount" type="s:string" />
    <wsdl:part name="searchDate" type="s:string" />
    <wsdl:part name="domainSearched" type="s:string" />
    <wsdl:part name="isAvailable" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsHttpPostIn">
    <wsdl:part name="searchResultsXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogDomainSearchResultsHttpPostOut" />
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LogDomainSearch">
      <wsdl:input message="tns:LogDomainSearchSoapIn" />
      <wsdl:output message="tns:LogDomainSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <wsdl:input message="tns:LogDomainSearchResultsSoapIn" />
      <wsdl:output message="tns:LogDomainSearchResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="LogDomainSearch">
      <wsdl:input message="tns:LogDomainSearchHttpGetIn" />
      <wsdl:output message="tns:LogDomainSearchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <wsdl:input message="tns:LogDomainSearchResultsHttpGetIn" />
      <wsdl:output message="tns:LogDomainSearchResultsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="LogDomainSearch">
      <wsdl:input message="tns:LogDomainSearchHttpPostIn" />
      <wsdl:output message="tns:LogDomainSearchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <wsdl:input message="tns:LogDomainSearchResultsHttpPostIn" />
      <wsdl:output message="tns:LogDomainSearchResultsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogDomainSearch">
      <soap:operation soapAction="http://godaddy.com/fbiVisitDomainService/LogDomainSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <soap:operation soapAction="http://godaddy.com/fbiVisitDomainService/LogDomainSearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogDomainSearch">
      <soap12:operation soapAction="http://godaddy.com/fbiVisitDomainService/LogDomainSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <soap12:operation soapAction="http://godaddy.com/fbiVisitDomainService/LogDomainSearchResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LogDomainSearch">
      <http:operation location="/LogDomainSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <http:operation location="/LogDomainSearchResults" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LogDomainSearch">
      <http:operation location="/LogDomainSearch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDomainSearchResults">
      <http:operation location="/LogDomainSearchResults" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://devciaapp01/fbiVisitDomainService/VisitDomainService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://devciaapp01/fbiVisitDomainService/VisitDomainService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://devciaapp01/fbiVisitDomainService/VisitDomainService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://devciaapp01/fbiVisitDomainService/VisitDomainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>