Main/Atlantis.Framework.AuctionBidCloseOuts/Atlantis.Framework.AuctionBidCloseOuts.Impl/Web References/AuctionsBiddingWS/GdAuctionsBiddingWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="GdAuctionsBiddingWS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="GdAuctionsBiddingWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GoDaddy Auctions - Bidding WS</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="GdAuctionsBiddingWS">
      <s:element name="GetServiceStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBidCloseOuts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="biddingShopperID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isShopperAuth" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBidCloseOutsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceBidCloseOutsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceSystemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="biddingShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bidAmount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bidComments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceBidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBidWithPurchaseProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceSystemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="biddingShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bidAmount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bidComments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="useMyPurchaseProfile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBidWithPurchaseProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceBidWithPurchaseProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceSystemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionDetailsByDomainName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionDetailsByDomainNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionDetailsByDomainNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rowsPerPage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginsWithKeyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auctionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="includeAdultNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hasBids" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="closeDaysOut" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionTypeAdultBidsCloseDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionListByAuctionTypeAdultBidsCloseDaysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionTypeAdultFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rowsPerPage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginsWithKeyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auctionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="includeAdultNames" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionTypeAdultFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionListByAuctionTypeAdultFilterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rowsPerPage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginsWithKeyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auctionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListByAuctionTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionListByAuctionTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rowsPerPage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginsWithKeyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuctionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuctionListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceStatus" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceBidCloseOuts" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceBidCloseOutsResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceBidSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceBid" />
  </wsdl:message>
  <wsdl:message name="PlaceBidSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceBidResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceBidWithPurchaseProfile" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceBidWithPurchaseProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionDetails" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionDetailsByDomainName" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionDetailsByDomainNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionTypeAdultBidsCloseDays" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionTypeAdultFilter" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionTypeAdultFilterResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionType" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionListByAuctionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuctionList" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuctionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusHttpGetIn" />
  <wsdl:message name="GetServiceStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsHttpGetIn">
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="isShopperAuth" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidHttpGetIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
    <wsdl:part name="bidComments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileHttpGetIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
    <wsdl:part name="bidComments" type="s:string" />
    <wsdl:part name="useMyPurchaseProfile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsHttpGetIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="shopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameHttpGetIn">
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpGetIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
    <wsdl:part name="includeAdultNames" type="s:string" />
    <wsdl:part name="hasBids" type="s:string" />
    <wsdl:part name="closeDaysOut" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterHttpGetIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
    <wsdl:part name="includeAdultNames" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeHttpGetIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListHttpGetIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusHttpPostIn" />
  <wsdl:message name="GetServiceStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsHttpPostIn">
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="isShopperAuth" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidCloseOutsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidHttpPostIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
    <wsdl:part name="bidComments" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileHttpPostIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="biddingShopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
    <wsdl:part name="bidAmount" type="s:string" />
    <wsdl:part name="bidComments" type="s:string" />
    <wsdl:part name="useMyPurchaseProfile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceBidWithPurchaseProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsHttpPostIn">
    <wsdl:part name="sourceSystemID" type="s:string" />
    <wsdl:part name="shopperID" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameHttpPostIn">
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionDetailsByDomainNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpPostIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
    <wsdl:part name="includeAdultNames" type="s:string" />
    <wsdl:part name="hasBids" type="s:string" />
    <wsdl:part name="closeDaysOut" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterHttpPostIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
    <wsdl:part name="includeAdultNames" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeAdultFilterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeHttpPostIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
    <wsdl:part name="auctionType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListByAuctionTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListHttpPostIn">
    <wsdl:part name="pageNumber" type="s:string" />
    <wsdl:part name="rowsPerPage" type="s:string" />
    <wsdl:part name="beginsWithKeyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuctionListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GdAuctionsBiddingWSSoap">
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input message="tns:GetServiceStatusSoapIn" />
      <wsdl:output message="tns:GetServiceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <wsdl:input message="tns:PlaceBidCloseOutsSoapIn" />
      <wsdl:output message="tns:PlaceBidCloseOutsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <wsdl:input message="tns:PlaceBidSoapIn" />
      <wsdl:output message="tns:PlaceBidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <wsdl:input message="tns:PlaceBidWithPurchaseProfileSoapIn" />
      <wsdl:output message="tns:PlaceBidWithPurchaseProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <wsdl:input message="tns:GetAuctionDetailsSoapIn" />
      <wsdl:output message="tns:GetAuctionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <wsdl:input message="tns:GetAuctionDetailsByDomainNameSoapIn" />
      <wsdl:output message="tns:GetAuctionDetailsByDomainNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysSoapIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultFilterSoapIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeSoapIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <wsdl:input message="tns:GetAuctionListSoapIn" />
      <wsdl:output message="tns:GetAuctionListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GdAuctionsBiddingWSHttpGet">
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input message="tns:GetServiceStatusHttpGetIn" />
      <wsdl:output message="tns:GetServiceStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <wsdl:input message="tns:PlaceBidCloseOutsHttpGetIn" />
      <wsdl:output message="tns:PlaceBidCloseOutsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <wsdl:input message="tns:PlaceBidHttpGetIn" />
      <wsdl:output message="tns:PlaceBidHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <wsdl:input message="tns:PlaceBidWithPurchaseProfileHttpGetIn" />
      <wsdl:output message="tns:PlaceBidWithPurchaseProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <wsdl:input message="tns:GetAuctionDetailsHttpGetIn" />
      <wsdl:output message="tns:GetAuctionDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <wsdl:input message="tns:GetAuctionDetailsByDomainNameHttpGetIn" />
      <wsdl:output message="tns:GetAuctionDetailsByDomainNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpGetIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultFilterHttpGetIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultFilterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeHttpGetIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <wsdl:input message="tns:GetAuctionListHttpGetIn" />
      <wsdl:output message="tns:GetAuctionListHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GdAuctionsBiddingWSHttpPost">
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input message="tns:GetServiceStatusHttpPostIn" />
      <wsdl:output message="tns:GetServiceStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <wsdl:input message="tns:PlaceBidCloseOutsHttpPostIn" />
      <wsdl:output message="tns:PlaceBidCloseOutsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <wsdl:input message="tns:PlaceBidHttpPostIn" />
      <wsdl:output message="tns:PlaceBidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <wsdl:input message="tns:PlaceBidWithPurchaseProfileHttpPostIn" />
      <wsdl:output message="tns:PlaceBidWithPurchaseProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <wsdl:input message="tns:GetAuctionDetailsHttpPostIn" />
      <wsdl:output message="tns:GetAuctionDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <wsdl:input message="tns:GetAuctionDetailsByDomainNameHttpPostIn" />
      <wsdl:output message="tns:GetAuctionDetailsByDomainNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpPostIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultBidsCloseDaysHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeAdultFilterHttpPostIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeAdultFilterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <wsdl:input message="tns:GetAuctionListByAuctionTypeHttpPostIn" />
      <wsdl:output message="tns:GetAuctionListByAuctionTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <wsdl:input message="tns:GetAuctionListHttpPostIn" />
      <wsdl:output message="tns:GetAuctionListHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GdAuctionsBiddingWSSoap" type="tns:GdAuctionsBiddingWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceStatus">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <soap:operation soapAction="GdAuctionsBiddingWS/PlaceBidCloseOuts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <soap:operation soapAction="GdAuctionsBiddingWS/PlaceBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <soap:operation soapAction="GdAuctionsBiddingWS/PlaceBidWithPurchaseProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionDetailsByDomainName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionTypeAdultBidsCloseDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionTypeAdultFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <soap:operation soapAction="GdAuctionsBiddingWS/GetAuctionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GdAuctionsBiddingWSSoap12" type="tns:GdAuctionsBiddingWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceStatus">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <soap12:operation soapAction="GdAuctionsBiddingWS/PlaceBidCloseOuts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <soap12:operation soapAction="GdAuctionsBiddingWS/PlaceBid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <soap12:operation soapAction="GdAuctionsBiddingWS/PlaceBidWithPurchaseProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionDetailsByDomainName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionTypeAdultBidsCloseDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionTypeAdultFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionListByAuctionType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <soap12:operation soapAction="GdAuctionsBiddingWS/GetAuctionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GdAuctionsBiddingWSHttpGet" type="tns:GdAuctionsBiddingWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetServiceStatus">
      <http:operation location="/GetServiceStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <http:operation location="/PlaceBidCloseOuts" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <http:operation location="/PlaceBid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <http:operation location="/PlaceBidWithPurchaseProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <http:operation location="/GetAuctionDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <http:operation location="/GetAuctionDetailsByDomainName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <http:operation location="/GetAuctionListByAuctionTypeAdultBidsCloseDays" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <http:operation location="/GetAuctionListByAuctionTypeAdultFilter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <http:operation location="/GetAuctionListByAuctionType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <http:operation location="/GetAuctionList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GdAuctionsBiddingWSHttpPost" type="tns:GdAuctionsBiddingWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetServiceStatus">
      <http:operation location="/GetServiceStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidCloseOuts">
      <http:operation location="/PlaceBidCloseOuts" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBid">
      <http:operation location="/PlaceBid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBidWithPurchaseProfile">
      <http:operation location="/PlaceBidWithPurchaseProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetails">
      <http:operation location="/GetAuctionDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionDetailsByDomainName">
      <http:operation location="/GetAuctionDetailsByDomainName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultBidsCloseDays">
      <http:operation location="/GetAuctionListByAuctionTypeAdultBidsCloseDays" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionTypeAdultFilter">
      <http:operation location="/GetAuctionListByAuctionTypeAdultFilter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionListByAuctionType">
      <http:operation location="/GetAuctionListByAuctionType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionList">
      <http:operation location="/GetAuctionList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GdAuctionsBiddingWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GoDaddy Auctions - Bidding WS</wsdl:documentation>
    <wsdl:port name="GdAuctionsBiddingWSSoap" binding="tns:GdAuctionsBiddingWSSoap">
      <soap:address location="http://auctions.test.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GdAuctionsBiddingWSSoap12" binding="tns:GdAuctionsBiddingWSSoap12">
      <soap12:address location="http://auctions.test.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GdAuctionsBiddingWSHttpGet" binding="tns:GdAuctionsBiddingWSHttpGet">
      <http:address location="http://auctions.test.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GdAuctionsBiddingWSHttpPost" binding="tns:GdAuctionsBiddingWSHttpPost">
      <http:address location="http://auctions.test.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>