Atlantis.Framework.CampaignManager/Atlantis.Framework.CampaignManager.UnitTests/atlantis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConfigElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ConfigElement">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="ConfigValue">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="progid" type="xs:string" use="required" />
            <xs:attribute name="assembly" type="xs:string" use="required" />
            <xs:attribute name="request_type" type="xs:unsignedShort" use="required" />
            <xs:attribute name="lpc" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ws_url" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>