Main/Atlantis.Framework.EmailMobileTemplate/Atlantis.Framework.EmailMobileTemplate.Impl/Web References/MessagingDeliveryWs/MessagingDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMobileViewTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="privateLabelID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="iscCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bbEmailID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="messageId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bShopperIDinLinkMatchesShopperCookie" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMobileViewTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMobileViewTemplateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMobileViewTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:GetMobileViewTemplate" />
  </wsdl:message>
  <wsdl:message name="GetMobileViewTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:GetMobileViewTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="MessagingDeliveryWSSoap">
    <wsdl:operation name="GetMobileViewTemplate">
      <wsdl:input message="tns:GetMobileViewTemplateSoapIn" />
      <wsdl:output message="tns:GetMobileViewTemplateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagingDeliveryWSSoap" type="tns:MessagingDeliveryWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMobileViewTemplate">
      <soap:operation soapAction="http://tempuri.org/GetMobileViewTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessagingDeliveryWSSoap12" type="tns:MessagingDeliveryWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMobileViewTemplate">
      <soap12:operation soapAction="http://tempuri.org/GetMobileViewTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagingDeliveryWS">
    <wsdl:port name="MessagingDeliveryWSSoap" binding="tns:MessagingDeliveryWSSoap">
      <soap:address location="http://devgdmsg/MessagingDeliveryWS/MessagingDelivery.asmx" />
    </wsdl:port>
    <wsdl:port name="MessagingDeliveryWSSoap12" binding="tns:MessagingDeliveryWSSoap12">
      <soap12:address location="http://devgdmsg/MessagingDeliveryWS/MessagingDelivery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>