Main/Atlantis.Framework.GetPlanFeatures/Atlantis.Framework.GetPlanFeatures.Impl/Web References/devgdbonsai/CommerceHelper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.orion.starfieldtech.com/bonsai" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.orion.starfieldtech.com/bonsai" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.orion.starfieldtech.com/bonsai">
      <s:element name="GetPlanFeatureOverridesXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductNamespace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlanFeatureOverridesXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountElements" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPlanFeatureOverridesXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlanFeatureOverridesXml" />
  </wsdl:message>
  <wsdl:message name="GetPlanFeatureOverridesXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlanFeatureOverridesXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="CommerceHelperSoap">
    <wsdl:operation name="GetPlanFeatureOverridesXml">
      <wsdl:input message="tns:GetPlanFeatureOverridesXmlSoapIn" />
      <wsdl:output message="tns:GetPlanFeatureOverridesXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommerceHelperSoap" type="tns:CommerceHelperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanFeatureOverridesXml">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/bonsai/GetPlanFeatureOverridesXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommerceHelperSoap12" type="tns:CommerceHelperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanFeatureOverridesXml">
      <soap12:operation soapAction="http://schemas.orion.starfieldtech.com/bonsai/GetPlanFeatureOverridesXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommerceHelper">
    <wsdl:port name="CommerceHelperSoap" binding="tns:CommerceHelperSoap">
      <soap:address location="http://devgdbonsai/Bonsai/Internal/CommerceHelper.asmx" />
    </wsdl:port>
    <wsdl:port name="CommerceHelperSoap12" binding="tns:CommerceHelperSoap12">
      <soap12:address location="http://devgdbonsai/Bonsai/Internal/CommerceHelper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>