Atlantis.Framework.DomainCheck/Atlantis.Framework.DomainCheck.Impl/Web References/AvailCheckWS/availcheckwebsvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCheckXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCheckXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DomainSyntaxCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCheckXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DomainSyntaxCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainSyntaxCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HostCreateCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCheckXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HostCreateCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HostCreateCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExclusionCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCheckXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExclusionCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExclusionCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExclusion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDomainName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iPLID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iInternalRegistrarId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExclusionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddExclusionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveExclusion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDomainName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iPLID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iInternalRegistrarId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveExclusionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveExclusionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBulkExclusion">
        <s:complexType />
      </s:element>
      <s:element name="AddBulkExclusionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBulkExclusionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshTlds">
        <s:complexType />
      </s:element>
      <s:element name="RefreshTldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefreshTldsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindCheckSoapIn">
    <wsdl:part name="parameters" element="tns:FindCheck" />
  </wsdl:message>
  <wsdl:message name="FindCheckSoapOut">
    <wsdl:part name="parameters" element="tns:FindCheckResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="DomainSyntaxCheckSoapIn">
    <wsdl:part name="parameters" element="tns:DomainSyntaxCheck" />
  </wsdl:message>
  <wsdl:message name="DomainSyntaxCheckSoapOut">
    <wsdl:part name="parameters" element="tns:DomainSyntaxCheckResponse" />
  </wsdl:message>
  <wsdl:message name="HostCreateCheckSoapIn">
    <wsdl:part name="parameters" element="tns:HostCreateCheck" />
  </wsdl:message>
  <wsdl:message name="HostCreateCheckSoapOut">
    <wsdl:part name="parameters" element="tns:HostCreateCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ExclusionCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ExclusionCheck" />
  </wsdl:message>
  <wsdl:message name="ExclusionCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ExclusionCheckResponse" />
  </wsdl:message>
  <wsdl:message name="AddExclusionSoapIn">
    <wsdl:part name="parameters" element="tns:AddExclusion" />
  </wsdl:message>
  <wsdl:message name="AddExclusionSoapOut">
    <wsdl:part name="parameters" element="tns:AddExclusionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveExclusionSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveExclusion" />
  </wsdl:message>
  <wsdl:message name="RemoveExclusionSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveExclusionResponse" />
  </wsdl:message>
  <wsdl:message name="AddBulkExclusionSoapIn">
    <wsdl:part name="parameters" element="tns:AddBulkExclusion" />
  </wsdl:message>
  <wsdl:message name="AddBulkExclusionSoapOut">
    <wsdl:part name="parameters" element="tns:AddBulkExclusionResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshTldsSoapIn">
    <wsdl:part name="parameters" element="tns:RefreshTlds" />
  </wsdl:message>
  <wsdl:message name="RefreshTldsSoapOut">
    <wsdl:part name="parameters" element="tns:RefreshTldsResponse" />
  </wsdl:message>
  <wsdl:portType name="AvailCheckWebSvcClassSoap">
    <wsdl:operation name="FindCheck">
      <wsdl:input message="tns:FindCheckSoapIn" />
      <wsdl:output message="tns:FindCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DomainSyntaxCheck">
      <wsdl:input message="tns:DomainSyntaxCheckSoapIn" />
      <wsdl:output message="tns:DomainSyntaxCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HostCreateCheck">
      <wsdl:input message="tns:HostCreateCheckSoapIn" />
      <wsdl:output message="tns:HostCreateCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExclusionCheck">
      <wsdl:input message="tns:ExclusionCheckSoapIn" />
      <wsdl:output message="tns:ExclusionCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExclusion">
      <wsdl:input message="tns:AddExclusionSoapIn" />
      <wsdl:output message="tns:AddExclusionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExclusion">
      <wsdl:input message="tns:RemoveExclusionSoapIn" />
      <wsdl:output message="tns:RemoveExclusionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBulkExclusion">
      <wsdl:input message="tns:AddBulkExclusionSoapIn" />
      <wsdl:output message="tns:AddBulkExclusionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTlds">
      <wsdl:input message="tns:RefreshTldsSoapIn" />
      <wsdl:output message="tns:RefreshTldsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AvailCheckWebSvcClassSoap" type="tns:AvailCheckWebSvcClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCheck">
      <soap:operation soapAction="http://tempuri.org/FindCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DomainSyntaxCheck">
      <soap:operation soapAction="http://tempuri.org/DomainSyntaxCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostCreateCheck">
      <soap:operation soapAction="http://tempuri.org/HostCreateCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExclusionCheck">
      <soap:operation soapAction="http://tempuri.org/ExclusionCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExclusion">
      <soap:operation soapAction="http://tempuri.org/AddExclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExclusion">
      <soap:operation soapAction="http://tempuri.org/RemoveExclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBulkExclusion">
      <soap:operation soapAction="http://tempuri.org/AddBulkExclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTlds">
      <soap:operation soapAction="http://tempuri.org/RefreshTlds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AvailCheckWebSvcClassSoap12" type="tns:AvailCheckWebSvcClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCheck">
      <soap12:operation soapAction="http://tempuri.org/FindCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DomainSyntaxCheck">
      <soap12:operation soapAction="http://tempuri.org/DomainSyntaxCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostCreateCheck">
      <soap12:operation soapAction="http://tempuri.org/HostCreateCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExclusionCheck">
      <soap12:operation soapAction="http://tempuri.org/ExclusionCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExclusion">
      <soap12:operation soapAction="http://tempuri.org/AddExclusion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExclusion">
      <soap12:operation soapAction="http://tempuri.org/RemoveExclusion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBulkExclusion">
      <soap12:operation soapAction="http://tempuri.org/AddBulkExclusion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTlds">
      <soap12:operation soapAction="http://tempuri.org/RefreshTlds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvailCheckWebSvcClass">
    <wsdl:port name="AvailCheckWebSvcClassSoap" binding="tns:AvailCheckWebSvcClassSoap">
      <soap:address location="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
    </wsdl:port>
    <wsdl:port name="AvailCheckWebSvcClassSoap12" binding="tns:AvailCheckWebSvcClassSoap12">
      <soap12:address location="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>