Main/Atlantis.Framework.FileHandlerServiceSaveFile/Atlantis.Framework.FileHandlerServiceSaveFile.Impl/Service References/StorageWS/FileIntake1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://quote-ws.dev.godaddy-com.ide/FileIntake/FileIntake.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntakeMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileData" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationData" nillable="true" type="xs:string" />
  <xs:element name="ApplicationKey" nillable="true" type="xs:string" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="SettingsSet" type="xs:int" />
  <xs:element name="SubscriberId" type="xs:int" />
  <xs:element name="IntakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Success" type="xs:boolean" />
  <xs:element name="IntakeMessageFilePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>