Main/Atlantis.Framework.QueueCancelMessage/Atlantis.Framework.QueueCancelMessage.Impl/Web References/Cancellation/wscgdCancellation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="urn:wscgdCancellationService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:wscgdCancellationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:wscgdCancellationService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueueCancelMsgIn">
    <wsdl:part name="bstrInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueueCancelMsgOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyCancelMsgIn">
    <wsdl:part name="bstrInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyCancelMsgOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="wscgdCancellationServiceSoap">
    <wsdl:operation name="QueueCancelMsg">
      <wsdl:input message="s0:QueueCancelMsgIn" />
      <wsdl:output message="s0:QueueCancelMsgOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCancelMsg">
      <wsdl:input message="s0:VerifyCancelMsgIn" />
      <wsdl:output message="s0:VerifyCancelMsgOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wscgdCancellationServiceSoap" type="s0:wscgdCancellationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="QueueCancelMsg">
      <soap:operation soapAction="#QueueCancelMsg" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:wscgdCancellationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:wscgdCancellationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCancelMsg">
      <soap:operation soapAction="#VerifyCancelMsg" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:wscgdCancellationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:wscgdCancellationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wscgdCancellationService">
    <wsdl:port name="wscgdCancellationServiceSoap" binding="s0:wscgdCancellationServiceSoap">
      <soap:address location="http://cancellation.dev.glbt1.gdg:80/WScgdCancellation/wscgdCancellation.dll?Handler=Default" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>