Main/Atlantis.Framework.GetBazaarAccount/Atlantis.Framework.GetBazaarAccount.Impl/Web References/BazaarWS/BazaarResources.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bazaar.godaddy.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://bazaar.godaddy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service for providing Bazaar information</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bazaar.godaddy.com/">
      <s:element name="GetBazaarLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resourceCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="discussionCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBazaarLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBazaarLinksResult" type="tns:BazaarLinks" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BazaarLinks">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResourceLinks" type="tns:ArrayOfBazaarLink" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscussionLinks" type="tns:ArrayOfBazaarLink" />
          <s:element minOccurs="0" maxOccurs="1" name="BazaarState" type="tns:BazaarStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBazaarLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BazaarLink" nillable="true" type="tns:BazaarLink" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BazaarLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TitleText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BazaarStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Failure" />
          <s:enumeration value="Success" />
          <s:enumeration value="Maintenance" />
          <s:enumeration value="Timeout" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBazaarAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gdShopperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBazaarAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBazaarAccountResult" type="tns:BazaarAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BazaarAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsBazaarMember" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ManageProfileUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InviteUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContributeUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscussionsUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JoinNowUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourcesCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscussionsCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BazaarState" type="tns:BazaarStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBazaarRssFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="feedType" type="tns:BazaarRssFeedType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="BazaarRssFeedType">
        <s:restriction base="s:string">
          <s:enumeration value="Business" />
          <s:enumeration value="Sports" />
          <s:enumeration value="Technology" />
          <s:enumeration value="Politics" />
          <s:enumeration value="World" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBazaarRssFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBazaarRssFeedsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServiceStatus">
        <s:complexType />
      </s:element>
      <s:element name="getServiceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServiceStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBazaarLinksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBazaarLinks" />
  </wsdl:message>
  <wsdl:message name="GetBazaarLinksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBazaarLinksResponse" />
  </wsdl:message>
  <wsdl:message name="GetBazaarAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetBazaarAccount" />
  </wsdl:message>
  <wsdl:message name="GetBazaarAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetBazaarAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetBazaarRssFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBazaarRssFeeds" />
  </wsdl:message>
  <wsdl:message name="GetBazaarRssFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBazaarRssFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getServiceStatus" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Bazaar_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="GetBazaarLinks">
      <wsdl:input message="tns:GetBazaarLinksSoapIn" />
      <wsdl:output message="tns:GetBazaarLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBazaarAccount">
      <wsdl:input message="tns:GetBazaarAccountSoapIn" />
      <wsdl:output message="tns:GetBazaarAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBazaarRssFeeds">
      <wsdl:input message="tns:GetBazaarRssFeedsSoapIn" />
      <wsdl:output message="tns:GetBazaarRssFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <wsdl:input message="tns:getServiceStatusSoapIn" />
      <wsdl:output message="tns:getServiceStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bazaar_x0020_Web_x0020_ServiceSoap" type="tns:Bazaar_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBazaarLinks">
      <soap:operation soapAction="http://bazaar.godaddy.com/GetBazaarLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBazaarAccount">
      <soap:operation soapAction="http://bazaar.godaddy.com/GetBazaarAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBazaarRssFeeds">
      <soap:operation soapAction="http://bazaar.godaddy.com/GetBazaarRssFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <soap:operation soapAction="http://bazaar.godaddy.com/getServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Bazaar_x0020_Web_x0020_ServiceSoap12" type="tns:Bazaar_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBazaarLinks">
      <soap12:operation soapAction="http://bazaar.godaddy.com/GetBazaarLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBazaarAccount">
      <soap12:operation soapAction="http://bazaar.godaddy.com/GetBazaarAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBazaarRssFeeds">
      <soap12:operation soapAction="http://bazaar.godaddy.com/GetBazaarRssFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <soap12:operation soapAction="http://bazaar.godaddy.com/getServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bazaar_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service for providing Bazaar information</wsdl:documentation>
    <wsdl:port name="Bazaar_x0020_Web_x0020_ServiceSoap" binding="tns:Bazaar_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://g1dwproxima01:9002/BazaarResources.asmx" />
    </wsdl:port>
    <wsdl:port name="Bazaar_x0020_Web_x0020_ServiceSoap12" binding="tns:Bazaar_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://g1dwproxima01:9002/BazaarResources.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>