Main/Atlantis.Framework.TrafficMobileTracking/Atlantis.Framework.TrafficMobileTracking.Impl/Service References/MobileTrackingService/fbiMobileTrackingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="fbiMobileTrackingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IfbiMobileTrackingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://devciaapp01.jomax.paholdings.com/fbiMobileTrackingSvc/fbiMobileTracking.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://devciaapp01.jomax.paholdings.com/fbiMobileTrackingSvc/fbiMobileTracking.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IfbiMobileTrackingService_MobileClientData_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileClientData" />
  </wsdl:message>
  <wsdl:message name="IfbiMobileTrackingService_MobileClientData_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileClientDataResponse" />
  </wsdl:message>
  <wsdl:message name="IfbiMobileTrackingService_MobileClientDataWithCICode_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileClientDataWithCICode" />
  </wsdl:message>
  <wsdl:message name="IfbiMobileTrackingService_MobileClientDataWithCICode_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileClientDataWithCICodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IfbiMobileTrackingService">
    <wsdl:operation name="MobileClientData">
      <wsdl:input wsaw:Action="http://tempuri.org/IfbiMobileTrackingService/MobileClientData" message="tns:IfbiMobileTrackingService_MobileClientData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IfbiMobileTrackingService/MobileClientDataResponse" message="tns:IfbiMobileTrackingService_MobileClientData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileClientDataWithCICode">
      <wsdl:input wsaw:Action="http://tempuri.org/IfbiMobileTrackingService/MobileClientDataWithCICode" message="tns:IfbiMobileTrackingService_MobileClientDataWithCICode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IfbiMobileTrackingService/MobileClientDataWithCICodeResponse" message="tns:IfbiMobileTrackingService_MobileClientDataWithCICode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IfbiMobileTrackingService" type="tns:IfbiMobileTrackingService">
    <wsp:PolicyReference URI="#WSHttpBinding_IfbiMobileTrackingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobileClientData">
      <soap12:operation soapAction="http://tempuri.org/IfbiMobileTrackingService/MobileClientData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobileClientDataWithCICode">
      <soap12:operation soapAction="http://tempuri.org/IfbiMobileTrackingService/MobileClientDataWithCICode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fbiMobileTrackingService">
    <wsdl:port name="WSHttpBinding_IfbiMobileTrackingService" binding="tns:WSHttpBinding_IfbiMobileTrackingService">
      <soap12:address location="http://devciaapp01.jomax.paholdings.com/fbiMobileTrackingSvc/fbiMobileTracking.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://devciaapp01.jomax.paholdings.com/fbiMobileTrackingSvc/fbiMobileTracking.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>