Main/Atlantis.Framework.GetPayeeProfile/Atlantis.Framework.GetPayeeProfile.Impl/Web References/PayeeProfileWS/WSCgdCAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:WSCgdCAPService" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:WSCgdCAPService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:WSCgdCAPService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEnumerationDescriptionsIn">
    <wsdl:part name="bstrType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEnumerationDescriptionsOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountIn">
    <wsdl:part name="bstrUpdateXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAccountIn">
    <wsdl:part name="bstrAddXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddAccountOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAccountsForShopperIn">
    <wsdl:part name="bstrShopperID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAccountsForShopperOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAccountDetailIn">
    <wsdl:part name="bstrShopperID" type="s:string" />
    <wsdl:part name="lCAPID" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetAccountDetailOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="WSCgdCAPServiceSoap">
    <wsdl:operation name="GetEnumerationDescriptions">
      <wsdl:input message="s0:GetEnumerationDescriptionsIn" />
      <wsdl:output message="s0:GetEnumerationDescriptionsOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="s0:UpdateAccountIn" />
      <wsdl:output message="s0:UpdateAccountOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input message="s0:AddAccountIn" />
      <wsdl:output message="s0:AddAccountOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsForShopper">
      <wsdl:input message="s0:GetAccountsForShopperIn" />
      <wsdl:output message="s0:GetAccountsForShopperOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountDetail">
      <wsdl:input message="s0:GetAccountDetailIn" />
      <wsdl:output message="s0:GetAccountDetailOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCgdCAPServiceSoap" type="s0:WSCgdCAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetEnumerationDescriptions">
      <soap:operation soapAction="#GetEnumerationDescriptions" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="#UpdateAccount" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="#AddAccount" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsForShopper">
      <soap:operation soapAction="#GetAccountsForShopper" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountDetail">
      <soap:operation soapAction="#GetAccountDetail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSCgdCAPService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCgdCAPService">
    <wsdl:port name="WSCgdCAPServiceSoap" binding="s0:WSCgdCAPServiceSoap">
      <soap:address location="https://customerap.dev.glbt1.gdg:443/WSCgdCAP/WSCgdCAP.dll?Handler=Default" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>