Main/Atlantis.Framework.CRMTaskCreation/Atlantis.Framework.CRMTaskCreation.Impl/Web References/CrmAppTaskCreation/TaskCreation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateTaskSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="CreateTaskSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskCreationSoap">
    <wsdl:operation name="CreateTask">
      <wsdl:input message="tns:CreateTaskSoapIn" />
      <wsdl:output message="tns:CreateTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaskCreationSoap" type="tns:TaskCreationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTask">
      <soap:operation soapAction="http://tempuri.org/CreateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaskCreationSoap12" type="tns:TaskCreationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTask">
      <soap12:operation soapAction="http://tempuri.org/CreateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskCreation">
    <wsdl:port name="TaskCreationSoap" binding="tns:TaskCreationSoap">
      <soap:address location="http://testcrmapp/TaskCreationWS/TaskCreation.asmx" />
    </wsdl:port>
    <wsdl:port name="TaskCreationSoap12" binding="tns:TaskCreationSoap12">
      <soap12:address location="http://testcrmapp/TaskCreationWS/TaskCreation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>