Main/Atlantis.Framework.ShopperPriceType/Atlantis.Framework.ShopperPriceType.Impl/Web References/WSgdBillingData/WSgdBillingData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="urn:WSgdBillingDataService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:WSgdBillingDataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:WSgdBillingDataService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDomainFromAccountGUIDIn">
    <wsdl:part name="bstrExternalResourceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDomainFromAccountGUIDOut">
    <wsdl:part name="return" type="s:string" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetParentFromAccountGUIDIn">
    <wsdl:part name="bstrExternalResourceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetParentFromAccountGUIDOut">
    <wsdl:part name="return" type="s:string" />
    <wsdl:part name="lParentType" type="s:int" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetParentGUIDForAddOnIn">
    <wsdl:part name="lAddOnResourceID" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetParentGUIDForAddOnOut">
    <wsdl:part name="return" type="s:string" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetExternalResourceIDByBillingIDIn">
    <wsdl:part name="lResourceID" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetExternalResourceIDByBillingIDOut">
    <wsdl:part name="return" type="s:string" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateDomainBillingRecordIn">
    <wsdl:part name="bstrInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateDomainBillingRecordOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProtectionIDForDomainIDIn">
    <wsdl:part name="lDomainID" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetProtectionIDForDomainIDOut">
    <wsdl:part name="return" type="s:int" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResourceIDForShopperIDIn">
    <wsdl:part name="bstrShopperID" type="s:string" />
    <wsdl:part name="lProductId" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetResourceIDForShopperIDOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetShopperPriceTypeIn">
    <wsdl:part name="bstrShopperID" type="s:string" />
    <wsdl:part name="lPrivateLabelID" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetShopperPriceTypeOut">
    <wsdl:part name="return" type="s:int" />
    <wsdl:part name="bstrError" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="WSgdBillingDataServiceSoap">
    <wsdl:operation name="GetDomainFromAccountGUID">
      <wsdl:input message="s0:GetDomainFromAccountGUIDIn" />
      <wsdl:output message="s0:GetDomainFromAccountGUIDOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParentFromAccountGUID">
      <wsdl:input message="s0:GetParentFromAccountGUIDIn" />
      <wsdl:output message="s0:GetParentFromAccountGUIDOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParentGUIDForAddOn">
      <wsdl:input message="s0:GetParentGUIDForAddOnIn" />
      <wsdl:output message="s0:GetParentGUIDForAddOnOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalResourceIDByBillingID">
      <wsdl:input message="s0:GetExternalResourceIDByBillingIDIn" />
      <wsdl:output message="s0:GetExternalResourceIDByBillingIDOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDomainBillingRecord">
      <wsdl:input message="s0:CreateDomainBillingRecordIn" />
      <wsdl:output message="s0:CreateDomainBillingRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProtectionIDForDomainID">
      <wsdl:input message="s0:GetProtectionIDForDomainIDIn" />
      <wsdl:output message="s0:GetProtectionIDForDomainIDOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceIDForShopperID">
      <wsdl:input message="s0:GetResourceIDForShopperIDIn" />
      <wsdl:output message="s0:GetResourceIDForShopperIDOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShopperPriceType">
      <wsdl:input message="s0:GetShopperPriceTypeIn" />
      <wsdl:output message="s0:GetShopperPriceTypeOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSgdBillingDataServiceSoap" type="s0:WSgdBillingDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetDomainFromAccountGUID">
      <soap:operation soapAction="#GetDomainFromAccountGUID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentFromAccountGUID">
      <soap:operation soapAction="#GetParentFromAccountGUID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentGUIDForAddOn">
      <soap:operation soapAction="#GetParentGUIDForAddOn" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalResourceIDByBillingID">
      <soap:operation soapAction="#GetExternalResourceIDByBillingID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDomainBillingRecord">
      <soap:operation soapAction="#CreateDomainBillingRecord" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtectionIDForDomainID">
      <soap:operation soapAction="#GetProtectionIDForDomainID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceIDForShopperID">
      <soap:operation soapAction="#GetResourceIDForShopperID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopperPriceType">
      <soap:operation soapAction="#GetShopperPriceType" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSgdBillingDataService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSgdBillingDataService">
    <wsdl:port name="WSgdBillingDataServiceSoap" binding="s0:WSgdBillingDataServiceSoap">
      <soap:address location="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>