Main/Atlantis.Framework.RegRegisterPIIData/Atlantis.Framework.RegRegisterPIIData.Impl/RegRegisterPIIDataRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="key">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="clientapplication" type="xs:string" use="required" />
      <xs:attribute name="servername" type="xs:string" use="required" />
      <xs:attribute name="tldid" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>