Main/Atlantis.Framework.GetNetGiroMerchantData/Atlantis.Framework.GetNetGiroMerchantData.Impl/Web References/WsEcommrestricted/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ecommrestricted.intranet.gdg/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ecommrestricted.intranet.gdg/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ecommrestricted.intranet.gdg/">
      <s:element name="GetNetGiroMerchantData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPaymentType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lAcctCompanyID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBillingCountry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNetGiroMerchantDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNetGiroMerchantDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNetGiroMerchantDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetNetGiroMerchantData" />
  </wsdl:message>
  <wsdl:message name="GetNetGiroMerchantDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetNetGiroMerchantDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetNetGiroMerchantData">
      <wsdl:input message="tns:GetNetGiroMerchantDataSoapIn" />
      <wsdl:output message="tns:GetNetGiroMerchantDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNetGiroMerchantData">
      <soap:operation soapAction="http://ecommrestricted.intranet.gdg/GetNetGiroMerchantData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNetGiroMerchantData">
      <soap12:operation soapAction="http://ecommrestricted.intranet.gdg/GetNetGiroMerchantData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://ecommrestricted.dev.intranet.gdg/wsgdnetgirodata/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://ecommrestricted.dev.intranet.gdg/wsgdnetgirodata/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>