Main/Atlantis.Framework.DomainContactCheck/Atlantis.Framework.DomainContactCheck.Impl/Web References/ContactValidationService/ContactValidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://regchk/RegContactValidationWebSvc" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://regchk/RegContactValidationWebSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://regchk/RegContactValidationWebSvc">
      <s:element name="ValidateJobApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateJobApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateJobApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateJobApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateJobApplication" />
  </wsdl:message>
  <wsdl:message name="ValidateJobApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateJobApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="ContactValidationServiceSoap">
    <wsdl:operation name="ValidateJobApplication">
      <wsdl:input message="tns:ValidateJobApplicationSoapIn" />
      <wsdl:output message="tns:ValidateJobApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactValidationServiceSoap" type="tns:ContactValidationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateJobApplication">
      <soap:operation soapAction="http://regchk/RegContactValidationWebSvc/ValidateJobApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://regchk/RegContactValidationWebSvc/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactValidationServiceSoap12" type="tns:ContactValidationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateJobApplication">
      <soap12:operation soapAction="http://regchk/RegContactValidationWebSvc/ValidateJobApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://regchk/RegContactValidationWebSvc/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactValidationService">
    <wsdl:port name="ContactValidationServiceSoap" binding="tns:ContactValidationServiceSoap">
      <soap:address location="http://check.dev.secureserver-net.ide/RegContactValidationWebSvc/ContactValidationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContactValidationServiceSoap12" binding="tns:ContactValidationServiceSoap12">
      <soap12:address location="http://check.dev.secureserver-net.ide/RegContactValidationWebSvc/ContactValidationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>