Main/Atlantis.Framework.NameMatchLogging/Atlantis.Framework.NameMatchLogging.Impl/Service References/NameMatchLogging/DomainTokenization.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogAnchorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnchorServiceDataXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogAnchorDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDomainsBotSpunData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DomainsBotDataXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDomainsBotSpunDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>