Main/Atlantis.Framework.NameMatchLogging/Atlantis.Framework.NameMatchLogging.Impl/Service References/NameMatchLogging/DomainTokenization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DomainTokenization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fastball.dev.glbt1.gdg/fbiDomainTokenization/DomainTokenization.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fastball.dev.glbt1.gdg/fbiDomainTokenization/DomainTokenization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDomainTokenization_LogAnchorData_InputMessage">
    <wsdl:part name="parameters" element="tns:LogAnchorData" />
  </wsdl:message>
  <wsdl:message name="IDomainTokenization_LogAnchorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogAnchorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainTokenization_LogDomainsBotSpunData_InputMessage">
    <wsdl:part name="parameters" element="tns:LogDomainsBotSpunData" />
  </wsdl:message>
  <wsdl:message name="IDomainTokenization_LogDomainsBotSpunData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogDomainsBotSpunDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDomainTokenization">
    <wsdl:operation name="LogAnchorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDomainTokenization/LogAnchorData" message="tns:IDomainTokenization_LogAnchorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDomainTokenization/LogAnchorDataResponse" message="tns:IDomainTokenization_LogAnchorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogDomainsBotSpunData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDomainTokenization/LogDomainsBotSpunData" message="tns:IDomainTokenization_LogDomainsBotSpunData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDomainTokenization/LogDomainsBotSpunDataResponse" message="tns:IDomainTokenization_LogDomainsBotSpunData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDomainTokenization" type="tns:IDomainTokenization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogAnchorData">
      <soap:operation soapAction="http://tempuri.org/IDomainTokenization/LogAnchorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDomainsBotSpunData">
      <soap:operation soapAction="http://tempuri.org/IDomainTokenization/LogDomainsBotSpunData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DomainTokenization">
    <wsdl:port name="BasicHttpBinding_IDomainTokenization" binding="tns:BasicHttpBinding_IDomainTokenization">
      <soap:address location="http://fastball.dev.glbt1.gdg/fbiDomainTokenization/DomainTokenization.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>