Main/Atlantis.Framework.CostcoSetMemberInfo/Atlantis.Framework.CostcoSetMemberInfo.Impl/Web References/GdCostcoMembershipWS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="costcoMemberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetMemberSoapIn">
    <wsdl:part name="parameters" element="tns:SetMember" />
  </wsdl:message>
  <wsdl:message name="SetMemberSoapOut">
    <wsdl:part name="parameters" element="tns:SetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMember" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberInfo" />
  </wsdl:message>
  <wsdl:message name="GetMemberInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SetMember">
      <wsdl:input message="tns:SetMemberSoapIn" />
      <wsdl:output message="tns:SetMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMember">
      <wsdl:input message="tns:RemoveMemberSoapIn" />
      <wsdl:output message="tns:RemoveMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberInfo">
      <wsdl:input message="tns:GetMemberInfoSoapIn" />
      <wsdl:output message="tns:GetMemberInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMember">
      <soap:operation soapAction="http://tempuri.org/SetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMember">
      <soap:operation soapAction="http://tempuri.org/RemoveMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInfo">
      <soap:operation soapAction="http://tempuri.org/GetMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMember">
      <soap12:operation soapAction="http://tempuri.org/SetMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMember">
      <soap12:operation soapAction="http://tempuri.org/RemoveMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInfo">
      <soap12:operation soapAction="http://tempuri.org/GetMemberInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://gdcomm.dev.glbt1.gdg/WSgdCostco/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://gdcomm.dev.glbt1.gdg/WSgdCostco/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>