Main/Atlantis.Framework.BonzaiRemoveAddOn/Atlantis.Framework.BonzaiRemoveAddOn.Impl/Web References/BonzaiWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="#AddOnManager" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="#AddOnManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="#AddOnManager">
      <s:element name="ApplyAddOn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddOnType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyAddOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoveAddOn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttributeUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddOnType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAddOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ApplyAddOnSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyAddOn" />
  </wsdl:message>
  <wsdl:message name="ApplyAddOnSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyAddOnResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAddOnSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAddOn" />
  </wsdl:message>
  <wsdl:message name="RemoveAddOnSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAddOnResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ApplyAddOn">
      <wsdl:input message="tns:ApplyAddOnSoapIn" />
      <wsdl:output message="tns:ApplyAddOnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAddOn">
      <wsdl:input message="tns:RemoveAddOnSoapIn" />
      <wsdl:output message="tns:RemoveAddOnSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyAddOn">
      <soap:operation soapAction="#AddOnManager/ApplyAddOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAddOn">
      <soap:operation soapAction="#AddOnManager/RemoveAddOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyAddOn">
      <soap12:operation soapAction="#AddOnManager/ApplyAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAddOn">
      <soap12:operation soapAction="#AddOnManager/RemoveAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>