Main/Atlantis.Framework.OrionGetAccountsByUID/Atlantis.Framework.OrionGetAccountsByUID.Impl/Web References/AccountQueriesService/ACCOUNTQUERIES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.orion.starfieldtech.com/account" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.orion.starfieldtech.com/account" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.orion.starfieldtech.com/account">
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountListByAccountUid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountUid" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAttributeList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountListByAccountUidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountListByAccountUidResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountList" type="tns:ArrayOfAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemNamespace" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResellerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductTemplateId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductTemplateName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductUid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrionCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CanBeModified" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRemoved" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountAttributes" type="tns:ArrayOfAccountAttribute" />
          <s:element minOccurs="0" maxOccurs="1" name="Quotas" type="tns:ArrayOfAccountQuota" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAccountInternalData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountAttribute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountAttribute" nillable="true" type="tns:AccountAttribute" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountAttribute">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AttributeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AttributeUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductAttributeUid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsTemplateAttribute" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateInternalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CanBeModified" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountElements" type="tns:ArrayOfAccountElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountElement" nillable="true" type="tns:AccountElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ElementId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ElementUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductAttributeElementUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CanBeModified" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildElements" type="tns:ArrayOfAccountElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountQuota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountQuota" nillable="true" type="tns:AccountQuota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountQuota">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="objType" type="tns:ObjectType" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuotaType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaUsage" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaBeginPeriod" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaEndPeriod" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfAccountQuotaDetail" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ObjectType">
        <s:restriction base="s:string">
          <s:enumeration value="ACCOUNT" />
          <s:enumeration value="ATTRIBUTE" />
          <s:enumeration value="ELEMENT" />
          <s:enumeration value="SERVER" />
          <s:enumeration value="RESELLER" />
          <s:enumeration value="APPLICATION" />
          <s:enumeration value="PRODUCT" />
          <s:enumeration value="PRODUCT_ATTRIBUTE" />
          <s:enumeration value="PRODUCT_ATTRIBUTE_ELEMENT" />
          <s:enumeration value="ACCOUNT_ATTRIBUTE" />
          <s:enumeration value="ACCOUNT_ATTRIBUTE_ELEMENT" />
          <s:enumeration value="MODIFIED_ELEMENT" />
          <s:enumeration value="NEW_ATTRIBUTE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAccountQuotaDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountQuotaDetail" nillable="true" type="tns:AccountQuotaDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountQuotaDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountAttributeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuotaType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaUsage" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaBeginPeriod" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QuotaEndPeriod" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountInternalData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountInternalData" nillable="true" type="tns:AccountInternalData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountInternalData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SecureHeader" type="tns:SecureHeader" />
      <s:complexType name="SecureHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountListByQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qry" type="tns:AccountQuery" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAttributeList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountQuery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SelectTop" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartingId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemNamespace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResellerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowRemoved" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cdtn" type="tns:ArrayOfAccountQueryCondition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountQueryCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountQueryCondition" nillable="true" type="tns:AccountQueryCondition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountQueryCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttributeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ElementName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ElementValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountListByQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountListByQueryResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="resp" type="tns:AccountQueryResponse" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountQueryResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestIdx" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountList" type="tns:ArrayOfAccount" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountTransitionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountUid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountTransitionUid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatusList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTransitionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountTransitionListResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AcctTransitionList" type="tns:ArrayOfAccountTransition" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountTransition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountTransition" nillable="true" type="tns:AccountTransition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountTransition">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountTransitionId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountTransitionUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArchiveAttributeUid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountTransitionStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeInternalName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfAccountTransitionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountTransitionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountTransitionItem" nillable="true" type="tns:AccountTransitionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountTransitionItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountTransitionItemId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountListByCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:OrionCustomer" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAttributeList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrionCustomer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrionCustomerId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemNamespace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResellerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sub" type="tns:CustomerSubAccount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerSubAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrionCustomerId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SubAccountNum" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountListByCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountListByCustomerResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountList" type="tns:ArrayOfAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountListByCustomerAndProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="StartingAccountId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:OrionCustomer" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAttributeList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountListByCustomerAndProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountListByCustomerAndProductResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountList" type="tns:ArrayOfAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountAttributeByAttributeUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountAttributeUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountAttributeByAttributeUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountAttributeByAttributeUIDResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="attribute" type="tns:AccountAttribute" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckElementUniqueness">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductAttributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ElementName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ElementValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckElementUniquenessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniquenessCheckXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByAccountUid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountUid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReturnAttributeList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByAccountUidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByAccountUidSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountListByAccountUid" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByAccountUidSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountListByAccountUidResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByAccountUidSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByQuerySoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountListByQuery" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByQuerySoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountListByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByQuerySecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountTransitionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountTransitionList" />
  </wsdl:message>
  <wsdl:message name="GetAccountTransitionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountTransitionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountTransitionListSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountListByCustomer" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountListByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerAndProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountListByCustomerAndProduct" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerAndProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountListByCustomerAndProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountListByCustomerAndProductSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountAttributeByAttributeUIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountAttributeByAttributeUID" />
  </wsdl:message>
  <wsdl:message name="GetAccountAttributeByAttributeUIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountAttributeByAttributeUIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountAttributeByAttributeUIDSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="CheckElementUniquenessSoapIn">
    <wsdl:part name="parameters" element="tns:CheckElementUniqueness" />
  </wsdl:message>
  <wsdl:message name="CheckElementUniquenessSoapOut">
    <wsdl:part name="parameters" element="tns:CheckElementUniquenessResponse" />
  </wsdl:message>
  <wsdl:message name="CheckElementUniquenessSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountByAccountUidSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountByAccountUid" />
  </wsdl:message>
  <wsdl:message name="GetAccountByAccountUidSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountByAccountUidResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountByAccountUidSecureHeader">
    <wsdl:part name="SecureHeader" element="tns:SecureHeader" />
  </wsdl:message>
  <wsdl:portType name="AccountQueriesSoap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByAccountUid">
      <wsdl:input message="tns:GetAccountListByAccountUidSoapIn" />
      <wsdl:output message="tns:GetAccountListByAccountUidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByQuery">
      <wsdl:input message="tns:GetAccountListByQuerySoapIn" />
      <wsdl:output message="tns:GetAccountListByQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTransitionList">
      <wsdl:input message="tns:GetAccountTransitionListSoapIn" />
      <wsdl:output message="tns:GetAccountTransitionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByCustomer">
      <wsdl:input message="tns:GetAccountListByCustomerSoapIn" />
      <wsdl:output message="tns:GetAccountListByCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByCustomerAndProduct">
      <wsdl:input message="tns:GetAccountListByCustomerAndProductSoapIn" />
      <wsdl:output message="tns:GetAccountListByCustomerAndProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountAttributeByAttributeUID">
      <wsdl:input message="tns:GetAccountAttributeByAttributeUIDSoapIn" />
      <wsdl:output message="tns:GetAccountAttributeByAttributeUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckElementUniqueness">
      <wsdl:input message="tns:CheckElementUniquenessSoapIn" />
      <wsdl:output message="tns:CheckElementUniquenessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByAccountUid">
      <wsdl:input message="tns:GetAccountByAccountUidSoapIn" />
      <wsdl:output message="tns:GetAccountByAccountUidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountQueriesSoap" type="tns:AccountQueriesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByAccountUid">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountListByAccountUid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountListByAccountUidSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByQuery">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountListByQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountListByQuerySecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTransitionList">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountTransitionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountTransitionListSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByCustomer">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountListByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountListByCustomerSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountListByCustomerAndProduct">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountListByCustomerAndProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountListByCustomerAndProductSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountAttributeByAttributeUID">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountAttributeByAttributeUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountAttributeByAttributeUIDSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckElementUniqueness">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/CheckElementUniqueness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckElementUniquenessSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByAccountUid">
      <soap:operation soapAction="http://schemas.orion.starfieldtech.com/account/GetAccountByAccountUid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountByAccountUidSecureHeader" part="SecureHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountQueries">
    <wsdl:port name="AccountQueriesSoap" binding="tns:AccountQueriesSoap">
      <soap:address location="http://orion.dev.starfieldtech.com/Account/AccountQueries.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>