Main/Atlantis.Framework.GuestbookSurveyResults/Atlantis.Framework.GuestbookSurveyResults.Impl/Web References/GuestbookWS/GuestbookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.godaddy.com/fbiGuestbookService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.godaddy.com/fbiGuestbookService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.godaddy.com/fbiGuestbookService">
      <s:element name="GetSurveyResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SurveyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSurveyResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSurveyResultsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGuestbookEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guestbookId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wsComment" type="tns:WsComment" />
            <s:element minOccurs="1" maxOccurs="1" name="commercialType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsComment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CommentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GuestbookId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GuestName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GuestEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GuestComment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CommentStatusId" type="tns:CommentStatusEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CommentStatusEnum">
        <s:restriction base="s:string">
          <s:enumeration value="FOS" />
          <s:enumeration value="Approved" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Deleted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddGuestbookEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddGuestbookEntryResult" type="tns:GuestbookResultEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="GuestbookResultEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="GeneralException" />
          <s:enumeration value="CreateWSTGuestbookException" />
          <s:enumeration value="UpdateWSTGuestbookException" />
          <s:enumeration value="NotNewGuestbookException" />
          <s:enumeration value="InvalidGuestbookOrionAccountUidException" />
          <s:enumeration value="GuestbookDomainInUseException" />
          <s:enumeration value="GuestbookDomainInvalid" />
          <s:enumeration value="GuestbookNotFoundException" />
          <s:enumeration value="UnableToSetCssResourcesException" />
          <s:enumeration value="UnableToSetWSTResourcesException" />
          <s:enumeration value="UnableToSetGuestbookStatusException" />
          <s:enumeration value="UnableToSetCommentStatusException" />
          <s:enumeration value="WSTAuthenticationException" />
          <s:enumeration value="UpdateGuestbookContentFilterException" />
          <s:enumeration value="NotNewCommentException" />
          <s:enumeration value="AddNewCommentException" />
          <s:enumeration value="CommentStatusChangeException" />
          <s:enumeration value="NotNewUserException" />
          <s:enumeration value="NewUserException" />
          <s:enumeration value="LoginNameInUseException" />
          <s:enumeration value="EmailAddressInUseException" />
          <s:enumeration value="LoginNotUpdatedException" />
          <s:enumeration value="OldGuestbookActivated" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddCommercialVote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commercial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shopperId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommercialVoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCommercialVoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSurveyResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSurveyResults" />
  </wsdl:message>
  <wsdl:message name="GetSurveyResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSurveyResultsResponse" />
  </wsdl:message>
  <wsdl:message name="AddGuestbookEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddGuestbookEntry" />
  </wsdl:message>
  <wsdl:message name="AddGuestbookEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddGuestbookEntryResponse" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteSoapIn">
    <wsdl:part name="parameters" element="tns:AddCommercialVote" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommercialVoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetSurveyResultsHttpGetIn">
    <wsdl:part name="SurveyID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveyResultsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteHttpGetIn">
    <wsdl:part name="commercial" type="s:string" />
    <wsdl:part name="shopperId" type="s:string" />
    <wsdl:part name="clientIp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetSurveyResultsHttpPostIn">
    <wsdl:part name="SurveyID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveyResultsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteHttpPostIn">
    <wsdl:part name="commercial" type="s:string" />
    <wsdl:part name="shopperId" type="s:string" />
    <wsdl:part name="clientIp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCommercialVoteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="GuestbookServiceSoap">
    <wsdl:operation name="GetSurveyResults">
      <wsdl:input message="tns:GetSurveyResultsSoapIn" />
      <wsdl:output message="tns:GetSurveyResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGuestbookEntry">
      <wsdl:input message="tns:AddGuestbookEntrySoapIn" />
      <wsdl:output message="tns:AddGuestbookEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <wsdl:input message="tns:AddCommercialVoteSoapIn" />
      <wsdl:output message="tns:AddCommercialVoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GuestbookServiceHttpGet">
    <wsdl:operation name="GetSurveyResults">
      <wsdl:input message="tns:GetSurveyResultsHttpGetIn" />
      <wsdl:output message="tns:GetSurveyResultsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <wsdl:input message="tns:AddCommercialVoteHttpGetIn" />
      <wsdl:output message="tns:AddCommercialVoteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GuestbookServiceHttpPost">
    <wsdl:operation name="GetSurveyResults">
      <wsdl:input message="tns:GetSurveyResultsHttpPostIn" />
      <wsdl:output message="tns:GetSurveyResultsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <wsdl:input message="tns:AddCommercialVoteHttpPostIn" />
      <wsdl:output message="tns:AddCommercialVoteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GuestbookServiceSoap" type="tns:GuestbookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSurveyResults">
      <soap:operation soapAction="http://www.godaddy.com/fbiGuestbookService/GetSurveyResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGuestbookEntry">
      <soap:operation soapAction="http://www.godaddy.com/fbiGuestbookService/AddGuestbookEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <soap:operation soapAction="http://www.godaddy.com/fbiGuestbookService/AddCommercialVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuestbookServiceSoap12" type="tns:GuestbookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSurveyResults">
      <soap12:operation soapAction="http://www.godaddy.com/fbiGuestbookService/GetSurveyResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGuestbookEntry">
      <soap12:operation soapAction="http://www.godaddy.com/fbiGuestbookService/AddGuestbookEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <soap12:operation soapAction="http://www.godaddy.com/fbiGuestbookService/AddCommercialVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuestbookServiceHttpGet" type="tns:GuestbookServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetSurveyResults">
      <http:operation location="/GetSurveyResults" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <http:operation location="/AddCommercialVote" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GuestbookServiceHttpPost" type="tns:GuestbookServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetSurveyResults">
      <http:operation location="/GetSurveyResults" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommercialVote">
      <http:operation location="/AddCommercialVote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuestbookService">
    <wsdl:port name="GuestbookServiceSoap" binding="tns:GuestbookServiceSoap">
      <soap:address location="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
    </wsdl:port>
    <wsdl:port name="GuestbookServiceSoap12" binding="tns:GuestbookServiceSoap12">
      <soap12:address location="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
    </wsdl:port>
    <wsdl:port name="GuestbookServiceHttpGet" binding="tns:GuestbookServiceHttpGet">
      <http:address location="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
    </wsdl:port>
    <wsdl:port name="GuestbookServiceHttpPost" binding="tns:GuestbookServiceHttpPost">
      <http:address location="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>