Main/Atlantis.Framework.TrafficPageEvent/Atlantis.Framework.TrafficPageEvent.Impl/Service References/Traffic/PageEventService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogPageEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathway" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cicode" type="xs:int" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciimpressions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userKeyValuePairs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogPageEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>