Main/Atlantis.Framework.HCCAppCount/Atlantis.Framework.HCCAppCount.Impl/Web References/MetroWebservices/HCAppCountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://metropolis.starfieldtech.com/schemas/HCAppCountService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://metropolis.starfieldtech.com/schemas/HCAppCountService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://metropolis.starfieldtech.com/schemas/HCAppCountService/">
      <s:element name="GetInstalledAppCount">
        <s:complexType />
      </s:element>
      <s:element name="GetInstalledAppCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInstalledAppCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInstalledAppCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstalledAppCount" />
  </wsdl:message>
  <wsdl:message name="GetInstalledAppCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstalledAppCountResponse" />
  </wsdl:message>
  <wsdl:portType name="HCAppCountServiceSoap">
    <wsdl:operation name="GetInstalledAppCount">
      <wsdl:input message="tns:GetInstalledAppCountSoapIn" />
      <wsdl:output message="tns:GetInstalledAppCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HCAppCountServiceSoap" type="tns:HCAppCountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstalledAppCount">
      <soap:operation soapAction="http://metropolis.starfieldtech.com/schemas/HCAppCountService/GetInstalledAppCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HCAppCountServiceSoap12" type="tns:HCAppCountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstalledAppCount">
      <soap12:operation soapAction="http://metropolis.starfieldtech.com/schemas/HCAppCountService/GetInstalledAppCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HCAppCountService">
    <wsdl:port name="HCAppCountServiceSoap" binding="tns:HCAppCountServiceSoap">
      <soap:address location="http://metrowebservices.test.secureserver-net.ide/HCAppCountService.asmx" />
    </wsdl:port>
    <wsdl:port name="HCAppCountServiceSoap12" binding="tns:HCAppCountServiceSoap12">
      <soap12:address location="http://metrowebservices.test.secureserver-net.ide/HCAppCountService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>