Main/Atlantis.Framework.IsShopperInOptoutList/Atlantis.Framework.IsShopperInOptoutList.Impl/Web References/RegWhoisOptOutWebSvc/RegWhoisOptOutWebSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="urn:RegWhoisOptOutWebSvcService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:RegWhoisOptOutWebSvcService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:RegWhoisOptOutWebSvcService">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldIn">
    <wsdl:part name="bstrInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivateWhoisOptoutIn">
    <wsdl:part name="requestXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivateWhoisOptoutOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeactivateWhoisOptoutIn">
    <wsdl:part name="requestXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeactivateWhoisOptoutOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsShopperInOptoutListIn">
    <wsdl:part name="requestXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsShopperInOptoutListOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="RegWhoisOptOutWebSvcServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="s0:HelloWorldIn" />
      <wsdl:output message="s0:HelloWorldOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateWhoisOptout">
      <wsdl:input message="s0:ActivateWhoisOptoutIn" />
      <wsdl:output message="s0:ActivateWhoisOptoutOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateWhoisOptout">
      <wsdl:input message="s0:DeactivateWhoisOptoutIn" />
      <wsdl:output message="s0:DeactivateWhoisOptoutOut" />
    </wsdl:operation>
    <wsdl:operation name="IsShopperInOptoutList">
      <wsdl:input message="s0:IsShopperInOptoutListIn" />
      <wsdl:output message="s0:IsShopperInOptoutListOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegWhoisOptOutWebSvcServiceSoap" type="s0:RegWhoisOptOutWebSvcServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="#HelloWorld" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateWhoisOptout">
      <soap:operation soapAction="#ActivateWhoisOptout" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateWhoisOptout">
      <soap:operation soapAction="#DeactivateWhoisOptout" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsShopperInOptoutList">
      <soap:operation soapAction="#IsShopperInOptoutList" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:RegWhoisOptOutWebSvcService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegWhoisOptOutWebSvcService">
    <wsdl:port name="RegWhoisOptOutWebSvcServiceSoap" binding="s0:RegWhoisOptOutWebSvcServiceSoap">
      <soap:address location="http://g1dwdtvapp01:80/RegWhoisOptOutWebSvc/RegWhoisOptOutWebSvc.dll?Handler=Default" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>