Main/Atlantis.Framework.AuctionRecommendations/Atlantis.Framework.AuctionRecommendations/Web References/gdAuctionsLeprechaunWS/gdauctionsleprechaunws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="gdAuctionsLeprechaunWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="gdAuctionsLeprechaunWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">gdAuctionsLeprechaunWS - Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="gdAuctionsLeprechaunWS">
      <s:element name="getServiceStatus">
        <s:complexType />
      </s:element>
      <s:element name="getServiceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServiceStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuctionRecommendationsAsync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopperID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="memberID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxAuctionRecommendation" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuctionRecommendationsSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuctionRecommendationsSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuctionRecommendationsSyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getServiceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getServiceStatus" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsAsyncSoapIn">
    <wsdl:part name="parameters" element="tns:AuctionRecommendationsAsync" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsSyncSoapIn">
    <wsdl:part name="parameters" element="tns:AuctionRecommendationsSync" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsSyncSoapOut">
    <wsdl:part name="parameters" element="tns:AuctionRecommendationsSyncResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusHttpGetIn" />
  <wsdl:message name="getServiceStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsAsyncHttpGetIn">
    <wsdl:part name="shopperID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
    <wsdl:part name="maxAuctionRecommendation" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsAsyncHttpGetOut" />
  <wsdl:message name="AuctionRecommendationsSyncHttpGetIn">
    <wsdl:part name="requestXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsSyncHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusHttpPostIn" />
  <wsdl:message name="getServiceStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsAsyncHttpPostIn">
    <wsdl:part name="shopperID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
    <wsdl:part name="maxAuctionRecommendation" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsAsyncHttpPostOut" />
  <wsdl:message name="AuctionRecommendationsSyncHttpPostIn">
    <wsdl:part name="requestXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuctionRecommendationsSyncHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="gdAuctionsLeprechaunWSSoap">
    <wsdl:operation name="getServiceStatus">
      <wsdl:input message="tns:getServiceStatusSoapIn" />
      <wsdl:output message="tns:getServiceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <wsdl:input message="tns:AuctionRecommendationsAsyncSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <wsdl:input message="tns:AuctionRecommendationsSyncSoapIn" />
      <wsdl:output message="tns:AuctionRecommendationsSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="gdAuctionsLeprechaunWSHttpGet">
    <wsdl:operation name="getServiceStatus">
      <wsdl:input message="tns:getServiceStatusHttpGetIn" />
      <wsdl:output message="tns:getServiceStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <wsdl:input message="tns:AuctionRecommendationsAsyncHttpGetIn" />
      <wsdl:output message="tns:AuctionRecommendationsAsyncHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <wsdl:input message="tns:AuctionRecommendationsSyncHttpGetIn" />
      <wsdl:output message="tns:AuctionRecommendationsSyncHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="gdAuctionsLeprechaunWSHttpPost">
    <wsdl:operation name="getServiceStatus">
      <wsdl:input message="tns:getServiceStatusHttpPostIn" />
      <wsdl:output message="tns:getServiceStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <wsdl:input message="tns:AuctionRecommendationsAsyncHttpPostIn" />
      <wsdl:output message="tns:AuctionRecommendationsAsyncHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <wsdl:input message="tns:AuctionRecommendationsSyncHttpPostIn" />
      <wsdl:output message="tns:AuctionRecommendationsSyncHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gdAuctionsLeprechaunWSSoap" type="tns:gdAuctionsLeprechaunWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServiceStatus">
      <soap:operation soapAction="gdAuctionsLeprechaunWS/getServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <soap:operation soapAction="gdAuctionsLeprechaunWS/AuctionRecommendationsAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <soap:operation soapAction="gdAuctionsLeprechaunWS/AuctionRecommendationsSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gdAuctionsLeprechaunWSSoap12" type="tns:gdAuctionsLeprechaunWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServiceStatus">
      <soap12:operation soapAction="gdAuctionsLeprechaunWS/getServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <soap12:operation soapAction="gdAuctionsLeprechaunWS/AuctionRecommendationsAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <soap12:operation soapAction="gdAuctionsLeprechaunWS/AuctionRecommendationsSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gdAuctionsLeprechaunWSHttpGet" type="tns:gdAuctionsLeprechaunWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getServiceStatus">
      <http:operation location="/getServiceStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <http:operation location="/AuctionRecommendationsAsync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <http:operation location="/AuctionRecommendationsSync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gdAuctionsLeprechaunWSHttpPost" type="tns:gdAuctionsLeprechaunWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getServiceStatus">
      <http:operation location="/getServiceStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsAsync">
      <http:operation location="/AuctionRecommendationsAsync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AuctionRecommendationsSync">
      <http:operation location="/AuctionRecommendationsSync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gdAuctionsLeprechaunWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">gdAuctionsLeprechaunWS - Web Service</wsdl:documentation>
    <wsdl:port name="gdAuctionsLeprechaunWSSoap" binding="tns:gdAuctionsLeprechaunWSSoap">
      <soap:address location="http://g1dwlep001/gdauctionsleprechaunws/gdauctionsleprechaunws.asmx" />
    </wsdl:port>
    <wsdl:port name="gdAuctionsLeprechaunWSSoap12" binding="tns:gdAuctionsLeprechaunWSSoap12">
      <soap12:address location="http://g1dwlep001/gdauctionsleprechaunws/gdauctionsleprechaunws.asmx" />
    </wsdl:port>
    <wsdl:port name="gdAuctionsLeprechaunWSHttpGet" binding="tns:gdAuctionsLeprechaunWSHttpGet">
      <http:address location="http://g1dwlep001/gdauctionsleprechaunws/gdauctionsleprechaunws.asmx" />
    </wsdl:port>
    <wsdl:port name="gdAuctionsLeprechaunWSHttpPost" binding="tns:gdAuctionsLeprechaunWSHttpPost">
      <http:address location="http://g1dwlep001/gdauctionsleprechaunws/gdauctionsleprechaunws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>